---
title: Hotel Sveti Nikola
priority: 1.0
layout: corporate
---

- content_for :description do
  = I18n.t("corporate.common.page-description")

= partial "header"

%main{role: "main"}
  = partial "intro"
  = partial "about"
  = partial "hotel"
  = partial "restaurant"
  = partial "contacts"

= partial "footer"
