%section#contacts
  .container
    %h3.section-title= I18n.t("corporate.contacts.title")
    .row
      .col-3.col
        %h4= I18n.t("corporate.contacts.address.title")
        %p= I18n.t("corporate.contacts.address.address")
      .col-3.col
        %h4= I18n.t("corporate.contacts.phones.title")
        %p= I18n.t("corporate.contacts.phones.phone")
        %p= I18n.t("corporate.contacts.phones.mobile")
      .col-3.col
        %h4= I18n.t("corporate.contacts.email.title")
        %p= I18n.t("corporate.contacts.email.address")
    .row
      #map
